
.button {
  display: inline-block;
  cursor: pointer;
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;


  border-radius: 30px;
  background-color: #00C470;
  border: none;

  color: #FFF;
  font-size: 14px;
  line-height: 60px;
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;

  transition: 
  background-color 0.2s ease-in;

  &:hover {
    background-color: #008a4e;
  }

  &:focus {
    outline: none;
    background-color: #006338;
  }
}

